<div id="main">

    <% page.posts.each(function(post){ %>
        <%- partial("_partial/post_entry", {post: post}) %>
    <% }) %>

    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="<%= url_for(page.prev_link	)%>" class="<%- page.current === 1 ? 'disabled button large previous':'button large previous' %>">Previous Page</a></li>
        <li><a href="<%= url_for(page.next_link	)%>" class="<%- page.current === page.total ? 'disabled button large next':'button large next' %>">Next Page</a></li>
    </ul>


</div>
