<header id="header">
    <h1><a href="<%- url_for()%>">Wei Blog</a></h1>
    <nav class="links">
      <ul class="links-list">
          <% site.categories.data.map(function(category){ %>
              <li class="<%= page.category == category.name  ? 'active' :'' %>">
                  <a href="<%= url_for(category.path)%>">
                      <%=category.name%> <span class="number"><%= category.length%></span>
                  </a>
              </li>
          <% }) %>
      </ul>
    </nav>

    <nav class="main">
        <ul>
<!--            <li class="search">-->
<!--                <a class="fa-search" href="#search">Search</a>-->
<!--                <form id="search" method="get" action="#">-->
<!--                    <input type="text" name="query" placeholder="Search" />-->
<!--                </form>-->
<!--            </li>-->
            <li class="<%=is_archive()?'menu active':'menu'%>"><a href="<%=url_for('archives')%>" class="fa-archive">归档</a></li>
            <li class="<%=is_current('tags')?'menu active':'menu'%>"><a href="<%=url_for('tags')%>" class="fa-tag">标签</a></li>
            <li class="menu">
                <a class="fa-search" href="#menu">Search</a>
            </li>
        </ul>
    </nav>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <div class="search" id="search">
                <input type="text" name="query" placeholder="Search" />
            </div>
        </section>

        <!-- Links -->
        <section id="search-list">
            <p>Please Search</p>
        </section>


    </section>
</header>
