<% if (site.posts.length){ %>
  <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <article class="mini-post">
          <header>
              <h3><a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a></h3>
              <%- partial("_partial/date",{postTime:post.date }) %>
              <a href="#" class="author"><img src="<%- url_for('/images/avatar.jpg') %>" alt="" /></a>
          </header>
          <a href="<%- url_for(post.path) %>" class="image"><img src="<%- url_for(post.cover) %>" alt="" /></a>
      </article>
  <% }) %>
<% } %>
