<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src="<%= url_for('/images/logo.jpg') %>" alt="" /></a>
        <header>
            <h2>Wei Blog</h2>
            <p>Lerna more about me <a href="https://github.com/zw-slime">My github </a></p>
            <div class="statistics">
                <div>
                    <div>类别</div><div><%= site.categories.length%></div>
                </div>
                <div class="line"></div>
                <div>
                    <div>文章</div><div><%= site.posts.length%></div>
                </div>
                <div class="line"></div>
                <div>
                    <div>标签</div><div><a href="<%= url_for('tags') %>"><%= site.tags.length%></a></div>
                </div>
                <div class="line"></div>
                <div>
                    <div>总访问量</div><div>xxx</div>
                </div>
            </div>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">
            <%- partial("_partial/recent_posts") %>

        </div>
    </section>

    <!-- Posts List -->
    <section>
        <%- partial("_partial/more_posts") %>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>一个努力奋斗的渣渣程序员</p>
        <ul class="actions">
            <li><a href="<%= url_for('about') %>" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <p class="copyright">&copy; Wei Blog</p>
    </section>

</section>
